<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-tabs #tabs>
    <fiv-app-bar slot="bottom" [titleMode]="titleMode" #bar>
      <fiv-fab [fivAppBarFab]="position" #fab>
        <fiv-icon name="color-wand"></fiv-icon>
      </fiv-fab>

      <fiv-app-bar-tab left tab="tab1" href="/tab1">
        <fiv-icon name="home"></fiv-icon>
        <ion-label>Home</ion-label>
      </fiv-app-bar-tab>
      <fiv-app-bar-tab left tab="tab2" href="/tab2">
        <fiv-icon name="images"></fiv-icon>
        <ion-label>Images</ion-label>
      </fiv-app-bar-tab>
      <fiv-app-bar-tab right tab="tab3" href="/tab3">
        <fiv-icon [badge]="1" name="pizza"></fiv-icon>
        <ion-label>Pizza</ion-label>
      </fiv-app-bar-tab>
      <fiv-app-bar-tab right tab="tab4" href="/tab4" icon="md-more">
        <fiv-icon name="ellipsis-vertical"></fiv-icon>
        <ion-label>More</ion-label>
      </fiv-app-bar-tab>
    </fiv-app-bar>
  </ion-tabs>
</ion-content>